html, body{
    background-color: rgb(173, 216, 230);
    height: 100%;
    margin: 0;
  }

  #textarea{
    min-height: 50%;
    margin-bottom: -50px;
    border: 2px solid #008CBA;
    border-radius: 10px;
    background-color: rgb(120, 196, 221);
    font-family: Georgia, serif;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: center;
    align-content: center;
    padding: 10px;
  }

.footer, .push {
    height: 150px;
}

  #header {
    text-align: center;
    left: 0;
    font-family: 'Courier New', Helvetica, Arial, sans-serif;
    background: #555;
    color: #f1f1f1;
    padding: 2%;
  }
  #col2{
      text-align: left;
      background: rgb(95, 95, 95);
      border-radius: 3%
  }

  .footer{
    text-align: center;
    background: #555;
    color: #f1f1f1;
    padding: 5%;

  }

  .restart2{
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 8px 2px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    right: 0%;
    bottom: 0;
  }
  
  .restart2:hover {
    background-color: red;
    color: white;
  }


.button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

  #textandchoices {
    text-align: right;
    position: fixed;
    width: 500px;
    right: 1%;
    z-index: -1;
    font-family: Helvetica, Arial, sans-serif;
  }
 
  #Autonomy {
    background-color: black;
    border-radius: 13px;
    padding: 2px;
  }
  
  #Autonomy>div {
    background-color: orange;
    width: 69%;
    height: 18px;
    border-radius: 18px;
  }
  
  #Competence {
    background-color: black;
    border-radius: 13px;
    padding: 2px;
  }
  
  #Competence>div {
    background-color: red;
    width: 15%;
    height: 18px;
    border-radius: 18px;
  }
  
  #Relatedness {
    background-color: black;
    border-radius: 13px;
    padding: 2px;
  }
  
  #Relatedness>div {
    background-color: green;
    width: 75%;
    height: 18px;
    border-radius: 18px;
  }
  
  #Motivation {
    background-color: black;
    border-radius: 13px;
    padding: 2px;
  }
  
  #Motivation>div {
    background-color: red;
    width: 1%;
    height: 18px;
    border-radius: 18px;
  }
  
  #Stress {
    background-color: black;
    border-radius: 13px;
    padding: 2px;
  }
  
  #Stress>div {
    background-color: orangered;
    width: 69%;
    height: 18px;
    border-radius: 18px;
  }
  
  #Progress {
    background-color: black;
    border-radius: 13px;
    padding: 2px;
  }
  
  #Progress>div {
    background-color: green;
    width: 100%;
    height: 18px;
    border-radius: 18px;
  }
  

  #information {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #888;
    margin: 5px;
    padding: 5px 5px;
    color: black;
    border-radius: 5px;
    border-color: black;
    border: solid 2px;
    transition-duration: 0.4s;
  }
  
  #information:hover {
    background-color: black;
    color: white;
    border-color: black;
  }
  
  #information .popuptext {
    visibility: hidden;
    width: 300px;
    padding: 15px 15px;
    margin: 10px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    top: 550%;
    left: 20%;
    position: absolute;
    overflow-wrap: break-word;
    border-color: black;
    border: solid 2px;
    border-radius: 5px;
  }
  
  #information .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    border-color: black;
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  
  .modal{
    background-color: rgb(120, 196, 221);
    font-family: Georgia, serif;
    margin: 30px;
    font-size: 26px;
    text-align: center;
    align-content: center;
    padding: 20px;
    max-height: 300px;
    border-color: #008CBA;
  }
  
  .restart3 {
    background-color: white;
    color: black;
    border: 2px solid orange;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    right: 5%;
    position: absolute;
    bottom: 9%;
  }
  
  .restart3:hover {
    background-color: orange;
    color: white;
  }