#twodivs {
    display: flex;
    flex-wrap: wrap;
}
#ADTT{
    width: 500px;
    flex-grow: 1;
}
#textandchoices{
    width: 500px;
    flex-grow: 1;
}

  .header {
    background: #555;
    left: 0px;
    top: 0;
    color: #f1f1f1;
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }

  body{
    background-color: lightblue;
    font-family:  Helvetica, Arial, sans-serif;
  }

    #header {
    text-align: center;
    left: 0px;
    font-family: 'Courier New', Helvetica, Arial, sans-serif;
  }

  .button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: #008CBA;
    color: white;
  }
